@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@500&display=swap");
.flip-countdown {
  --background-color: #d9d9d9 !important;
  --background-bottom-color: #d9d9d9 !important;
  --text-color: #000000 !important ;
  --text-bottom-color: #000000 !important ;
}

.wallet-adapter-button-trigger {
  border-radius: 30px !important;
  background: #f5b331 !important;
}

.wallet-adapter-button-trigger:hover,
.wallet-adapter-button-trigger:active {
  border-radius: 30px !important;
  background: #FFC342 !important;
}
